
$black: #0f1c34;
$grey-light: #eee;
$white: #fff;
$red: #f32;

$white2: #eee;
$white3: #ccc;

$background-block: rgba(255, 255, 255, .15);
$background-block-strong: rgba(255, 255, 255, .6);

$color1: #f2b7a5;
$color2: #c686ef;
$color3: #a5ffb7;
$color4: #ffe8a9;
$color5: #9bbdff;
$color6: #f7bfe3;
$color7: #4ce5d6;
