
.modal_background {
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity .3s ease;
	width: 100%;
}

.modal_background.mode-open {
	display: block;
	opacity: 1;
}

.modal_container {
	background-color: white;	
	/*opacity: 0.9;*/
	border-radius: 10px;
	display: none;
	height: 90%;
	left: 25%;
	padding: 20px 30px 10px 30px;
	position: absolute;
	text-align: center;
	top: 5%;
	width: 50%;
}

.modal_container.mode-animate {	
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

.modal_container.mode-open {
	display: block;
	opacity: 0.9;
}

.text-container {
	display: none;
}
.text-container.mode-open {
	display: block;
}

.text-container-webGL {
	display: none;
	font-size: 1.75em;
}

.text-container-webGL.mode-open {
	display: block;
}


.modal_container.mode-webGL {
	background-color: white;	
	border-radius: 10px;
	height: 10%;
	left: 27.5%;
	padding: 10px 10px 10px 10px;
	position: absolute;
	opacity: 1;
	top: 15%;
	width: 30%;
}

.flex-container {
	align-content: stretch;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.text-container {
	font-size: 1.3em;
}

.text-part-container {
	font-size: 1.2em;
	text-align: justify;
}

.logo-col4 {
	flex: 4;
	flex-basis: 100%;
}

.logo-col2 {
	flex: 2;
	flex-basis: 50%;
}

.logo-col1 {
	flex: 1;
	flex-basis: 25%;
}

.logo-parrains {
	width: 60%;
}

.logo-hyblab {
	width: 60%;
}

.logo-polytech {
	width: 60%;
}

.logo-design {
	width: 60%;
}

.logo-of {
	width: 60%;
}

.logo-oml {
	width: 60%;
}

.titre1 {
	font-size: 4em;
	text-align: center;
}

.titre2017 {
	font-size: 4em;
}

.logoDrag {
	margin: auto;
	width: 5%;
}

.button-container {
	text-align: right;
}

.go-button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    display: none;
    font-size: 24px;
    padding: 15px 32px;
    text-align: center;
}

.go-button.mode-open {
	display: inline-block;
}

.btn-credits {
	color: white;
	font-size: 1.5em;
}

.btn-credits:hover {
	cursor: pointer;
	text-decoration: underline;
}

/*.btn-close .material-icons{
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 3em;
}*/

.titre-container {
	display: inline;
}

.image-container {
	display: inline;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}