.modal_background {

	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	opacity: 0;
	transition: opacity .3s ease;

}

.modal_background.mode-open {
	display : block;
	opacity: 1;
}




.modal_container {
	text-align: center;
	display: none;
	position: absolute;
	top: 5%;
	left: 25%;
	width: 50%;
	height:90%;
	padding: 20px 30px 10px 30px;
	background-color: white;	
	/*opacity: 0.9;*/
	border-radius: 10px;
}

.modal_container.mode-animate {	
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;

}


.modal_container.mode-open {
	display: block;
	opacity: 0.9;
}



.modal_container.mode-webGL {
	position: absolute;
	opacity: 1;
	top: 15%;
	left: 27.5%;
	width: 30%;
	height:10%;
	padding: 10px 10px 10px 10px;
	background-color: white;	
	border-radius: 10px;
}


.flex-container {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: stretch;

}

.text-container {
	font-size: 1.3em;
}

.text-part-container {
	text-align: justify;
	font-size: 1.2em;
}

.logo-col4 {
	flex: 4;
	flex-basis: 100%;
}

.logo-col2 {
	flex: 2;
	flex-basis: 50%;
}

.logo-col1 {
	flex: 1;
	flex-basis: 25%;
}


.logo-parrains {
	width: 60%;
}

.logo-hyblab {
	width: 60%;
}

.logo-polytech {
	width: 60%;
}

.logo-design {
	width: 60%;
}

.logo-of {
	width: 60%;
}

.logo-oml {
	width: 60%;
}

.titre1 {
	text-align: center;
	font-size: 4em;
}

.titre2017 {
	font-size: 4em;
}

.logoDrag {
	width: 5%;
	margin: auto;
}

.button-container {
	text-align: right;
}

.go-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    font-size: 24px;
}


.btn-credits {
	color: white;
	font-size: 1.5em;
}

.btn-credits:hover {
	text-decoration: underline;
	cursor: pointer;
}
/*.btn-close .material-icons{
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 3em;
}*/

.titre-container {
	display: inline;
}

.image-container {
	display: inline;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:0.9;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:0.9;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:0.9;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 0.9;
    }
}