// sass-lint:disable no-duplicate-properties no-vendor-prefixes

$breakpoint: 737px;

@import 'colors';
@import 'modal';
@import 'infos';
@import 'candidate';
@import 'action-bar';
@import 'switch';

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', 'Arial', 'sans-serif';
}

html,
body {
    background: $black;
    font-size: 12px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.canvas-container {
    height: 100%;
    width: 100%;
}

.canvas-container:hover {
    cursor: move; // fallback if grab cursor is unsupported
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.canvas-container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.canvas-container.mod-clic {
    cursor: pointer;
}

    .canvas-container > canvas {
        height: 100%;
        width: 100%;
    }

button:focus {
    outline: 0;
}

.btn-transparent {
    background: 0;
    border: 0;

    &:hover {
        cursor: pointer;
    }
}

    .btn-transparent > * {
        display: inline-block;
        vertical-align: middle;
    }

// Grid

.row {
	display: flex;
	flex-wrap: wrap;
}

.row.mod-center {
	align-items: center;
}

.row.mod-nowrap {
	flex-wrap: nowrap;
}

    .col4 {
        flex: 4;
        flex-basis: 100%;
    }

    .col-m-4 {
        @media only screen and (max-width: $breakpoint) {
            flex: 4;
            flex-basis: 100%;
        }
    }

    .col3 {
        flex: 3;
        flex-basis: 66%;
    }

    .col3.mod-max {
        max-width: 66%;
    }

    .col2 {
        flex: 2;
        flex-basis: 50%;
    }

    .col2.mod-max {
        max-width: 50%;
    }

    .col-m-2 {
        @media only screen and (max-width: $breakpoint) {
            flex: 4;
            flex-basis: 100%;
        }
    }

    .col1 {
        flex: 1;
        flex-basis: 25%;
    }

    .col1.mod-max {
        max-width: 22%;
    }

.text-center {
    text-align: center;
}

hr {
    opacity: .6;
}
