// sass-lint:disable no-duplicate-properties no-vendor-prefixes

@import 'colors';
@import 'candidate';
@import 'criteres';

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', 'Arial', 'sans-serif';
}

html,
body {
    background: $black;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.canvas-container {
    height: 100%;
    width: 100%;
}

.canvas-container:hover {
    cursor: move; // fallback if grab cursor is unsupported
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.canvas-container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.canvas-container.mod-clic {
    cursor: pointer;
}

    .canvas-container > canvas {
        height: 100%;
        width: 100%;
    }

.btn-transparent {
    background: 0;
    border: 0;
}

